<div>
<h3>שלום {{userName?userName:""}}</h3>

<h1>הנחיות למילוי פרטים אישיים</h1>
<h4>מומלץ להקפיד על כל ההוראות על מנת שלא יהיו טעויות</h4>
<p>יש למלאות את כל השדות של הפרטים הם שדות חובה</p>
<p>קודם לחיצה על שמירת הפרטיים יש להוסיף את פרטי הילדים</p>
<p>יש להוסיף בכל פעם ילד אחד ולאחריו ללחוץ הוסף ילד</p>
<p>בסיום הכנסת כל הילדים כאשר התיבות של הילדים ריקות ניתן ללחוץ על שמירת פרטים</p>
<p>אנשים או ילדים שת"ז שלהם כבר קימת במאגר לא יתווספו</p>
<p>שכחתם להוסיף ילד או נולד לכם בן חדש למזל"ט הוסיפו אותו לאחר שתמלאו את פרטיכם</p>
<p>הילד יתווסף אבל אתם לא תשתנו</p>
<p>הכנסתם בטעות ילד קיים אבל לא נורא לא ישתנה כלום</p>
</div>